//--------------------------------
//hero
//--------------------------------
.p-mv {
  background-image: url("../img/e.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover; 
  color: $font-color_default;
  position: relative;
  top: 50%;
  right: 0;
  color:$font-color_sub;
  @include mq() {
    width: 100%;
    max-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
   }
  &__ttl {
    font-size: 60px;
    position: absolute;
    bottom: 300px;
    right: 100px;
    padding: 0 1.5rem;
    br {
      display: none;
      @include mq() {
        display: block;
         }
    }
    @include mq() {
    font-size: 35px;
    text-align: center;
    position: initial;
     }
    }
}




