.p-card--article  {
  width: calc(20% - 18px);
  text-align: center;
  box-sizing: border-box;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
  height:250px;
  position: relative;
  margin-right:$space_xl;
  margin-bottom: $space_xl;
  padding: 20px;

  @include ss(ss) {
    width: calc(50% - 10px);
    box-sizing: border-box;
   }
 &__txt {
  margin: 5px 0px;
  color: $color_third;
  font-size: $font-size_l;
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
  @include md(md) {
  font-size: $font-size_s;
   }
   }
   &__link {
   color: $accent;
   border: solid 1px $accent;
  @include md(md) {
    font-size: $font-size_s;
   }
  }
  img {
    height:100%;
  }
  &__img {
      height:80px;
  }
  }

  .p-card--soldproduct {
  width: calc(20% - 18px);
  text-align: center;
  box-sizing: border-box;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
  height:250px;
  position: relative;
  margin-right:$space_xl;
  margin-bottom: $space_xl;
  padding: 20px;

  @include ss(ss) {
    width: calc(50% - 10px);
    box-sizing: border-box;
   }
 &__txt {
  margin: 5px 0px;
  color: $color_third;
  font-size: $font-size_l;
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
  @include md(md) {
  font-size: $font-size_s;
   }
   }
   &__link {
   color: $accent;
   border: solid 1px $accent;
  @include md(md) {
    font-size: $font-size_s;
   }
  }
  img {
    height:100%;
  }
  &__img {
      height:80px;
  }
  }
  .p-required {
      background: #FF8856;
      color: #ffff;
      text-align: center;
      padding: 2px ;
  }
.p-required--wrap  {
    text-align: center;
    display: inline;
    font-size: 12px;

}
.p-card--article:nth-child(5n){
    margin-right:0;
  }
@include ss(ss) {
    .p-card--article:nth-child(2n){
        margin-right:0;
      }
    .p-card--article:nth-child(5){
        margin-right:20px;
      }
   }

.p-card--soldproduct:nth-of-type(5n){
    margin-right:0;
  }
@include ss(ss) {
.p-card--soldproduct:nth-of-type(2n){
    margin-right:0;
  }
  .p-card--soldproduct:nth-of-type(5){
    margin-right:20px;
  }
   }