.p-card--gallery  {

  width: calc(25% - 20px);
  text-align: center;
  padding: $space_l;
  box-sizing: border-box;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
  margin-right: $space_xl;
  margin-bottom: $space_xl;
  position: relative;
  height: 300px;
  @include mq() {
  width: calc(25% - 15px);
  box-sizing: border-box;
  }
 @include ss(ss) {
    width: calc(50% - 10px);
    box-sizing: border-box;
    height: 300px;
 }


 &__txt {
  margin-top: $space_xl;
    color: $color_third;
  font-size: $font-size_l;
  overflow: hidden;
  max-height: 50px;
  text-overflow: ellipsis;
  text-align:justify;
  word-wrap: break-word;
   @include ss(ss) {
  font-size: $font-size_s;
   padding: $space_s;
 }
   }
   &__under {
    position: absolute;
    bottom: $space_m;
    right: $space_m;
    margin-top: $space_xl;
    text-align: right;
    font-size: $font-size_s;
    color: $accent_font_color;

     }
  &__img {
    height:150px;
  @include ss(ss) {
    height:100px;
 }
    img {
     height:100%;
    }
     }
  }


  .p-card--gallery:nth-child(4n){
    margin-right:0;
  }



 @include ss(ss) {
    .p-card--gallery:nth-child(2n){
        margin-right:0;
      }
   }




