a.share-network-twitter {
    height: $space_xl;
    padding: 5px 6px 5px 6px;
    background-color: #1b95e0;
    color: #fff;
    border-radius: 3px;
    font-weight: 500;
    cursor: pointer;
}
.fa-yen-sign {
    color: $color_default;
}
