.p-mv {
  background-image: url("../imges/mainvisual.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding-top: 27%;
  position: relative;
  background-size: cover; 
  overflow: hidden;
  color: $color_default;
  @include mq() {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   }
  &--ttl {
    font-size: $font-size_3l;
    position: absolute;
    bottom:200px;
    color: $color_sub;
    right: 50px;
    padding:$space_m  $space_xxl;
    br {
      display: none;
      @include mq() {
        display: block;
      }
    }
    @include mq() {
        position: absolute;
        top: 0px;
    font-size: $font-size_xxl;
    text-align: center;
    position: initial;
     }
    }
}


