.p-modal{
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}
.p-modal--bg{
   background: rgba(0,0,0,0.4);
    height: 100vh;
    position: absolute;
    width: 100%;
}
.p-modal--content{
  background: rgba(255,255,255,0.8);
    left: 50%;
    padding: $space_xxl;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
    text-align: center;
}

