.p-image__round {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: $base-color;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  -o-border-radius: 50px;
  -ms-border-radius: 50px;
  border-radius: 50px;
}

.p-image__round-m {
    display: inline-block;
    width: 150px;
    height: 150px;
    background: $base-color;
    -moz-border-radius: 150px;
    -webkit-border-radius: 150px;
    -o-border-radius: 150px;
    -ms-border-radius: 150px;
    border-radius: 150px;

}
.p-profile--body {
  display: flex;
  align-items: center;
  margin-right: $space_xl;
  @include mq() {
  display:block;
  }
}
.p-profile--name {
  margin: 0px $space_xl;
  br {
    display:none;
  }
  @include mq() {
  font-size:$font-size_s;
  margin: 0px;
  word-wrap: break-word;
  display:block;
  text-align:center;
  padding:$space_m;
  display:block;
  }
}










