.p-main {
  text-align: center;
  width: 80%;
  margin: auto;
  margin-top: 40px;
  &--item {
      width: 40%;
      @include mq() {
      width: 100%;
      margin-top: 20px;
       }
  }
  &--btn {
    display: block;
    color: #333;
    background-color: #f5bf1e;
    border: 1px solid #cccccc;
    box-sizing: border-box;
    padding: 2em 1em;
    border-radius: 5px;
    text-align: center;
    
  }
}
.p-main--btn:hover {
  background-color: #f5bf1e;
  color:white;
}

//----------------------------------------

.p-submit__btn {
  cursor: pointer;
  background: #333;
  color:white;
  background-color:$font-color_default;
  line-height: 36px;
  font-size: 1.2rem;
  display: block;
  text-align: center;
  font-weight: bold;
  margin: 40px auto 0;
  width: 100%;
  }
  .p-submit__btn :hover {
    transition: .3s;
    opacity: .7;
  }

  .p-mypage--btn {
    background-color: #f5bf1e;
    color: white;
    padding: 1px;
  }

  .p-wrapper--btn {
 padding: 10px 0;
  }