.u-font--sub{
  color: $font-color_sub;
}
.p-logo__font {
  font-family: $font-family_corp;
  color: $font-color_default;
}
.u-fa__white {
  color:$font-color_sub;
}
.u-font {
  font-family:$font-family_corp ;
}

.u-font__def {
  color: $font-color_default;
}