.u-bgcolor {
  background: $base-color;
}
.u-bgcolor__accent {
background:$accent;
}
.u-bgcolor__sub {
background: $color_sub;
}
.u-bg__base-color {
  background: $base-color;
}
.u-txt__accent-color {
  color: $accent_font_color;
}
.u-txt__color_sub {
color: $color_sub;
}
.u-font--color_sub {
color: $color_sub;
}